---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

const { frontmatter } = Astro.props;
---
<!DOCTYPE html>
<html lang="ja" class="scroll-smooth">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">
    <title>{frontmatter.title} | つなげモン</title>
    <script src="https://unpkg.com/lucide@latest"></script>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body class="font-sans text-slate-800 bg-white">
    <!-- プラットフォーム共通ヘッダー -->
    <Header />

    <main class="w-full">
        <slot />
    </main>

    <!-- プラットフォーム共通フッター -->
    <Footer />
</body>

</html>
